.calendar_container
{
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 1rem;
  gap: 1rem;
}

.section_title
{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.calendar_week
{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.instructors_container
{
  display: grid;
  place-content: center;
  grid-auto-columns: 250px;
  padding: 0px 1rem;
}

/* .instructors_section
{
  border: 1px solid lightslategray;
  border-radius: 0.8rem;
}


.calendar_section
{
  border: 1px solid lightslategray;
  border-radius: 0.8rem;
  padding: 1rem 1rem;
} */