.calendar_container
{
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.section_title
{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.calendar_week
{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}