.container
{
  padding: 10px;
}

.container__instructors_title
{
  font-size: 2rem;
  font-weight: bold;
}

.container__instructors_cards
{
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  margin-bottom: 20px;
}

.container__lessons_no_instructors
{
  font-size: 1.8rem;
  width: 100%;
  max-width: 1024px;
  padding: 5px;
  background-color: rgb(207, 207, 207);
  border-radius: 5px;
  margin: 0 auto;
}

.container__lessons_no_instructors div:nth-child(1)
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__lessons_no_instructors svg
{
  color: var(--pink);
  cursor: pointer;
}

.lessons_without_instructors_container
{
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-auto-rows: 180px;
  justify-content: center;
  margin-top: 20px;
}

.add_instructor__btn
{
  margin: 1rem 0rem;
  height: 100px;
  border-radius: 0.8rem;
  border: 2px solid var(--purple);
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--pink);
  cursor: pointer;
}

.add_instructor__btn:hover
{
  border: 2px solid var(--pink);
  background-color: var(--purple);
  box-shadow: 1px 1px 0px 1px var(--pink);
}

.container__lessons
{
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-content: center;
  grid-auto-rows: 150px;
  gap: 10px;
}

.add_btn
{
  width: 8rem;
  height: 8rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  border: 1px solid var(--purple);
  font-weight: bold;
  color: #fff;
  background-color: var(--pink);
}

.add_btn:hover
{
  transform: scale(1.1);
  border: 1px solid var(--pink);
  background-color: var(--purple);
}

.loading_container
{
  width: 100%;
  height: 80vh;
  display: grid;
  place-content: center;
}

.instructors_lessons__text
{
  text-align: center;
  font-size: 1.6rem;
  color: var(--purple);
  font-style: italic;
}

.marsbot
{
  display: block;
  width: 80%;
  max-width: 300px;
  margin: 40px auto;
  animation: bounce 1s infinite alternate ease-in;
}

@keyframes bounce {
  0%{
    transform: translateY(-20px);
  }

  100%{
    transform: translateY(20px);
  }
}