.modal_container
{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  background-color: rgba(212, 212, 212, 0.9);
  z-index: 1;
  color: #000;
}

.close_btn
{
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 5rem;
  cursor: pointer;
  color: #000;

}
