.nav_container
{
  padding: 1rem;
  width: 100vw;
  background-color: var(--purple);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav_options
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.nav_options li a{
  display: flex;
  align-items: center;
  grid-template-columns: 18px 1fr;
  gap: 0.5rem;
  width: max-content;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--white);
  padding: 0.5rem;
  
}

.menu_icon
{
  font-size: 3rem;
  color: var(--white);
  display: none;
}

.show
{
  display: inline;
}

.hide 
{
  display: none;
}

.nav_container .nav_options .selected
{
  background-color: var(--yellow);
  color: var(--purple);
  border-radius: 0.8rem;
}

.close_btn
{
  background-color: var(--pink);
  color: #fff;
  width: 10rem;
  display: grid;
  place-content: center;
}


@media screen and (max-width: 768px)
{
  .menu_icon
  {
    display: block;
  }

  .nav_options
  {
    display: none;
  }
}