.lesson_card
{
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 1.3rem;
  border: 0.1rem solid var(--purple);
}

.week_day
{
  font-size: 1.8rem;
  text-align: center;
  background-color: var(--pink);
  font-weight: bold;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 0rem;
  cursor: default;
}

.lessons_container
{
  display: grid;
  grid-auto-rows: 150px;
  gap: 1rem;
}

